div.root--light {
	* ul,
	li,
	ol {
		line-height: 0.4rem !important;
	}
}

// DARK THEME
div.root--dark {
	* ul,
	li,
	ol {
		line-height: 0.4rem !important;
	}

	h3,
	h4,
	h5,
	h6 {
		color: #b18834;
		margin-top: 2.5rem;
		padding-bottom: 0.4em;
		margin-bottom: 0.5rem;
		border-bottom: 2px solid #2b2b2b;
		font-weight: 600;
	}

	a {
		color: #b6480b;
		text-decoration: none;
	}

	// Gatsby default highlight
	> code.language-text {
		background: #b5cea8 !important;
		color: yellow;
	}
}

hr {
	margin-top: 0.25rem;
	margin-bottom: 1rem;
	border-width: 2px;
	border-color: #2b2b2b;
}

.bp3_card {
	background-color: inherit !important;
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
