/**
 * If you already use line highlighting
 */

/* Adjust the position of the line numbers */
.gatsby-highlight pre[class*="language-"].line-numbers {
	padding-left: 2.8em;
}

/**
   * If you only want to use line numbering
*/

.gatsby-highlight {
	/* background-color: #fdf6e3; */
	background-color: #2b2b2b;
	border-radius: 0.2em;
	margin: 0.5em 0;
	padding: 0em 1em;
	overflow: auto;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
	padding: 0;
	padding-left: 2.8em;
	overflow: initial;
}

.gatsby-highlight-code-line {
	background-color: #404040;
	display: block;
	margin-right: -1em;
	margin-left: -1em;
	padding-right: 1em;
	padding-left: 0.75em;
	border-left: 0.25em solid #ffc66d;
}
