// Width breakpoints
$width_phone: 480px; // 540 ?
$width_phone2: 768px;
$width_phone3: 992px;
$width_tabletend: 1024px; // Minimum desktop width used worldwide
$width_tablet2: 1200px;
$width_desktop: 1920px;

// Header font sizes (applies to desktop)
$fontsize_h1: 32px;
$fontsize_h2: 24px;
